<h3>Register a product</h3>
<div class="error"> 
    {{servererrors | json}}

</div>
<form #IsFormValid="ngForm">
    <fieldset>
        <div class="form-group">
            <label for="name">Product name:</label>
            <div class="error" *ngIf="productNameCtrl.dirty && productNameCtrl.invalid">Product's name must be 3 or more chars </div>
            <input type="text" 
            class="form-control" 
            name="editingproduct.name" 
            id="editingproduct.name" 
            required 
            minlength="3"
            maxlength="24" 
            [(ngModel)]="editingproduct.name" 
            #productNameCtrl="ngModel">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <div class="error" *ngIf="productQuantityCtrl.dirty && productQuantityCtrl.invalid">Quantity most be provided</div>
            <div class="error" >{{quantityError}}</div>
            <input (change) ="ValidateNumber($event)"  type="number" 
            class="form-control"
            id="editingproduct.quantity" 
            name="editingproduct.quantity" 
            required 
            min="0"
            ng-pattern="/^[0-9]/"
            [(ngModel)]="editingproduct.quantity" 
            #productQuantityCtrl="ngModel">
        </div>
        <div class="form-group">
                <label for="price">Price:</label>
                <div class="error" *ngIf="priceCtrl.dirty && priceCtrl.invalid">Price most be provided</div>
                <div class="error" >{{priceError}}</div>
                <input (change) ="ValidateNumber($event)" type="number" 
                class="form-control" 
                id="editingproduct.price" 
                name="editingproduct.price" 
                required 
                min="0"
                [(ngModel)]="editingproduct.price" 
                #priceCtrl="ngModel">
            </div>
    </fieldset>
    <input (click)="onSubmit()" [disabled]="IsFormValid.invalid || quantityInvalid || priceInvalid"  class="btn btn-primary" type="submit" value="Update" />
    <input (click)="onReset()" class="btn btn-secondary" type="submit" value="Reset" />

</form>